/*---------- general ----------*/
body {
  background-color: #EEE;
  font-family: sans-serif;
  font-size: 14px;
  background: linear-gradient(to right, white 50%, rgba(237,230,254,1) 50%);
}
h1 {
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px 0 #843a3a;
  text-transform: uppercase;
  color: #244751;
}
.web__name {
  padding: 1.3em;
  background-color: rgba(93,11,237,1);
  color: white;
  font-size: 27px;
  text-align: center;
  font-weight: bold;
}
table {
  padding: 2em;
}
.search {
  padding: 1em 0em 1em 0em;
}
.search__field {
  margin: 0 1rem 0 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 73%;
  border: 1px solid #6d6b6b;
  border-radius: 4px;
}
.search__button {
  padding: 8px 33px;
  border-radius: 5px;
  border-style: unset;
  background-color:rgba(93,11,237,1);
  color: white;
}
.head__table {
  line-height: 3em;
  text-align: left;
}
.input__button {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  color: #337ab7;
  border-radius: 0;
  text-decoration: underline;
}